@media (max-width:768px) {

  .burguer {
    font-size: 1.5rem;
    padding-left: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 3rem;

  }

  .btn-tema {
    margin-left: 80%;
  }

  .btn-tema:hover {
    color: var(--cor-verde);
  }

  .icon-burg:hover {
    color: var(--cor-verde);
  }

  .menu {

    flex-direction: column;
    height: auto;

  }

  .itens-menu {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    padding-left: 2rem;
    gap: 0.3rem;

    animation: menu-animate 0.3s ease-in-out forwards;
  }

  @keyframes menu-animate {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .icon-tema {
    display: none;
  }


  .bunner {
    flex-direction: column-reverse;
  }

  .contatos {
    padding-bottom: 1rem;
  }

  .div-cards {

    flex-direction: column;
  }

  .card {
    flex-direction: column;
  }

  .card img{
   max-width: 100%;
 
  }

  .texto{
   
    height: 12rem;
   margin-top: 3rem
   ;
  }
}