* {
  font-family: verdana, sans-serif;
  margin: 0;
}

:root {
  --cor-verde: #1a9c6c;
  --cor-cinza: rgb(244, 245, 247);
}

.bg-light {
  background-color: var(--cor-cinza);
  color: #2b2b2c;
}

.light {
  background-color: rgb(255, 255, 255);
}

.bg-dark {
  background-color: #2c2f33;
  color: #c7d5d8;
}

.dark {
  background-color: #30343a;
}


html {
  scroll-behavior: smooth;
}


section {
  padding-top: 4rem;
}

hr {
  z-index: 2;
}

.menu {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  position: fixed;
  z-index: 1;
}

.itens-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  list-style-type: none;
  gap: 1.5rem;

}

.icon-tema:hover {
  color: var(--cor-verde);
}

.fa-solid {
  font-size: 1.2rem;
}



li {
  padding: 3px;
  font-size: 18px;
}

li a {
  text-decoration: none;
  color: inherit;

}

label {
  font-family: Arial;
}

li a:hover {
  color: var(--cor-verde);
  border-bottom: solid var(--cor-verde);
  padding-bottom: 3px;
}


h1 {
  color: var(--cor-verde);
}


.bunner {
  padding-top: 3rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.bunner-texto {
  padding-right: 2rem;
  margin: 1.5rem;
 animation: txt-animate 0.5s ease-in-out forwards;
  }

  @keyframes txt-animate {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


.imagem {
  margin: 25px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transform: scale(1);
  overflow: hidden;
}

img {

  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;

}


.contatos {
  display: flex;
  justify-content: center;
  font-size: 40px;
  gap: 2rem;
}

.contatos a {
  text-decoration: none;
}

.icon {
  font-family: Arial, Helvetica, sans-serif;
}

.contatos .fa-github {
  color: inherit;
}

.ontatos .fa-github:hover {
  color: #5a5d70;
}

.fa-instagram {
  color: #e44776;
}

.fa-instagram:hover {
  color: #b61445;
}

.fa-linkedin {
  color: #06bbe9;
}

.fa-linkedin:hover {
  color: #0e6175;
}

.fa-whatsapp {
  color: #009639;
}

.fa-whatsapp:hover {
  color: #0a5225;
}


.sobre {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.2rem;
  text-align: center;

  animation-name: sobre-animate;
  animation-timeline: view();
  animation-duration: 2s;
}

@keyframes sobre-animate {
  from {
    opacity: 0;
    scale: 0.8;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.sobre p {
  max-width: 42rem;
}

.projetos {
  gap: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.div-cards {
  max-width: 56rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  margin: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 2rem;
  border-radius: 1rem;
  overflow: hidden;

  animation-name: grow;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes grow {
  from {
    scale: 0.8;
    opacity: 0.5;
  }

  to {
    scale: 1;
    opacity: 1;
  }

}

.reverse {
  flex-direction: row-reverse;
}

.card img {
  max-width: 50%;
}

.texto {
  padding-right: 2rem;
  margin: 1.5rem;

  }
.texto a {
  font-size: 2rem;

}

.btnGit {
  margin-top: .8rem;
  color: inherit;
  background-color: var(--cor-verde);
  border-radius: 8px;
  padding: 8px;
  border: none;

}

.btnGit:hover {
  background-color: #147451;
  color: #e6ecee;
  transition: background-color 0.3s ease;
}

.btnGit a {
  margin: 5px;
  text-decoration: none;
  color: #e6ecee;
  font-size: 1.2rem;

}

.html {
  color: #fa7217;
}

.css {
  color: #2e75e0;
}

.js {
  color: #e7b21f;
}

.rodape {
  padding: 10px;
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;

}

.rodape a {
  text-decoration: none;
  margin: 1ch;
  color: var(--cor-verde);
}

.burguer {
  display: none;
}